<header id="site-header">
    <div class="content-wrapper">
        <div class="inner">
            <div class="logo">
                <h1>{{sitedata.header.name}}</h1>
                <h2>{{sitedata.header.site_title}}</h2>
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav>
                {% for item in sitedata.header.nav %}
                    <a href="{{item.url}}">{{item.text}}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
</header>