<header id="site-header">
    <div class="content-wrapper">
        <div class="inner">
            <a class="logo" href="/">
                <div class="headshot"></div>
                <h1>{{sitedata.header.name}}</h1>
                <h2>{{sitedata.header.title}}</h2>
            </a>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav>
                {% for item in sitedata.header.nav %}
                    <a href="{{item.url}}" {% if loop.first %}class="active"{% endif %}>{{item.text}}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
</header>