@use "variables" as *;

.content-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 95%;
  }
}
article {
  margin-top: 120px;
}
section {
  background-color: $white;
  color: $off-black;
  border-radius: 4px;
  padding: 1.5rem 1.5rem 1.5rem;
  margin-bottom: 1.5rem;
  min-height: 50vh;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
