@use "variables" as *;

.content-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 95%;
  }
}
section {
  background-color: $white;
  color: $off-black;
  border-radius: 4px;
  padding: 1.5rem 1.5rem 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
  section {
    padding: 1.5rem 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 1rem;
  }
}
.hero-section {
  display: flex;
  flex-direction: row;
  img {
    display: none;
  }
}
.feature-list {
  ul {
    list-style: none;
    font-size: 1.6em;
    font-weight: bold;
    li {
      position: relative;
      margin-bottom: 0.5rem;
      &:before {
        opacity: 0;
        animation: popIn 0.5s ease-in-out 0.5s 1 forwards;
        position: absolute;
        left: -1.8rem;
        top: -0.2rem;
        font-size: 1.75rem;
        content: "✓";
        color: green;
        margin-right: 0.5rem;
      }
    }
  }
}
@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  90% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    img {
      display: block;
    }
  }
  section {
    margin-bottom: 3rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin-bottom: 2rem;
    }
  }
}
