@use "variables" as *;

.content-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 95%;
  }
}
.content {
  margin-top: calc($header-height + 3rem);
}
section {
  background-color: $white;
  color: $off-black;
  border-radius: 4px;
  padding: 1.5rem 1.5rem 1.5rem;
  section {
    padding: 1.5rem 0;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
@media (max-width: $mobile-breakpoint) {
  .content {
    margin-top: calc($header-height-mobile + 3rem);
  }
}
