.download-button {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  border: 2px solid #333;
  border-radius: 5px;
  color: #06468a;

  &:hover {
    text-decoration: none;
    background: #555;
    color: white;
  }
}
.case-study {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  div:first-child {
    margin-bottom: 1rem;
    order: 1;
  }
  div:nth-child(2) {
    order: 2;
  }
}

.job-grid {
  div:first-child {
    display: flex;
    align-items: center;
    color: #727171;
    border-bottom: 2px solid #727171;
    margin: 2rem 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .larry-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    div {
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .al-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 3rem;

    .grid-item {
      padding: 0;
      border-radius: 4px;
      p {
        font-size: 1.2rem;
      }
    }
  }

  .skills-grid,
  .case-study,
  .job-grid {
    margin-top: 2rem;
    display: grid;
    gap: 1.5rem;
  }

  .skills-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }

  .case-study {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .case-study > div:first-child {
    order: 1;
  }
  .case-study > div:nth-child(2) {
    order: 2;
  }
  .job-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    div:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 2px solid #727171;
      border-bottom: none;
      margin: 0;
    }
  }
}
.key-results {
  border-radius: 8px;
  background: #dedede;
  padding: 1.5rem 0.5rem 0.5rem;
  h4 {
    color: #777;
  }
  ul {
    list-style-type: square;
    li {
      color: black;
      margin-bottom: 0.5rem;
      &::marker {
        color: #777;
      }
    }
  }
}
