$white: #ffffff;
$black: #000000;
$off-black: #4a4a4a;
$off-white: #f6f6f6;
$dark-blue: #0d0d71;
$gray: #666;

$body-font: "Source Sans Pro", sans-serif;
$header-font: "Lato", sans-serif;
$nav-font: "Lato", sans-serif;
$header-bg-color: rgba(0, 0, 0); // Translucent white
$header-text-color: #f8f8f8; // Dark gray for strong contrast
$gradient-overlay-opacity: 0.5;
$link-hover-color: #f3f384;
$header-height: 8rem;
$header-height-scrolled: 3rem;
$header-height-mobile: 5rem;
$header-z-index: 1000;
$transition-speed: 0.3s;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1280px;
