{% macro serviceItem(item) %}
    <header>
        <h2 class="service-header">{{ item.header }}</h2>
    </header>
    <div class="service-content">
        <p>{{ item.content }}</p>
    </div>
    <div class="service-details">
        <dl>
            <dt class="detail-label">Scope:</dt>
            <dd class="detail-value">{{ item.scope }}</dd>
        </dl>
    </div>
{% endmacro %}