{% macro serviceItem(item) %}
    <header>
        <h2 class="service-header">{{ item.header }}</h2>
    </header>
    <div class="service-content">
        <p>{{ item.content }}</p>
    </div>
{% endmacro %}