---
layout: base.njk
permalink: /
title: "Alex Beuscher"
description: "Alex Beuscher is a digital consultant." 
image: "/images/logo.png"
datePublished: "2024-01-01"
---

<article>
    <div class="content-wrapper padding-bottom">
        <div class="content">
            {{ content | safe }}
        </div>
    </div>
</article>