---
layout: base.njk
permalink: /
title: "Alex Beuscher - Portfolio"
description: "Alex Beuscher is a web developer and digital consultant in Amherst, MA." 
image: "/images/logo.png"
datePublished: "2025-07-01"
---

<main>
    <div class="content-wrapper padding-bottom">
        <div class="content">
            <article>
                <section class="hero-section">

                    <div>{{content | safe }}<br>
                        <a href="/alexbeuscher-resume-20250703.pdf" class="download-button">PDF Resume</a>

                        <h2>Technical Skills</h2>

                        <div class="skills-grid">
                            {% for skill in sitedata.skills %}
                                <div class="grid-item">
                                    <h3 class="icon-header">
                                        {% if skill.icon %}
                                            <span class="icon {{ skill.icon }}"></span>
                                        {% endif %}{{ skill.category }}</h3>
                                    <p>{{ skill.items }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="headshot"><img src="/images/bigal.jpg"/></div>
                </section>
                <section>

                    <div class="case-studies">
                        <h2>Case Studies</h2>

                        {% for study in sitedata.caseStudies %}
                            <div class="case-study">
                                <div>
                                    <h3>{{ study.title }}</h3>
                                    <p>{{ study.description }}</p>
                                </div>
                                <div class="key-results">
                                    <ul>
                                        {% for result in study.keyResults %}
                                            <li>{{ result }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            </div>
                        {% endfor %}

                    </div>

                    <div class="employment-history">
                        <h2>Employment History</h2>

                        {% for job in sitedata.employment %}
                            <div class="job-grid">
                                <div>
                                    <h4>{{ job.years }}</h4>
                                </div>
                                <div>
                                    <h4>{{ job.title }}, {{ job.company }} | {{ job.location }}</h4>
                                    <p>{{ job.description }}</p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </section>
            </article>
        </div>
    </div>
</main>