---
layout: base.njk
permalink: /
title: "Alex Beuscher - Voiceover Samples"
description: "Alex Beuscher is a voiceover artist in Amherst, MA." 
image: "/images/logo.png"
datePublished: "2025-07-01"
---

<main>
    <div class="content-wrapper padding-bottom">
        <div class="content">
            <article>
                {{ content | safe }}
            </article>
        </div>
    </div>
</main>